<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Toggle Dark Mode</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="script.js" defer></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
 <style>
   
    i{
        font-size: 30px;
        cursor: pointer;
        position: absolute;
       
         left: 95%;
       
    }
 </style>

</head>
<body>
    <h1 class=""> <i class=" bi bi-brightness-high-fill" id="toggleDark"></i></h1>
   
</body>
<script>

    const toggle = document.getElementById('toggleDark');
const body = document.querySelector('body');

toggle.addEventListener('click', function(){
    this.classList.toggle('bi-moon');
    if(this.classList.toggle('bi-brightness-high-fill')){
        body.style.background = 'white';
        body.style.color = 'black';
        body.style.transition = '2s';
    }else{
        body.style.background = 'black';   
        body.style.color = 'white';
        body.style.transition = '2s';
    }
});
</script>

</html>