{% for reply in dicReply|get_reply:comment.id %}
         
<article class="p-6 mb-6 ml-6 lg:ml-12 border-t border-gray-300 dark:border-gray-700 text-base bg-gray-100 rounded-lg dark:bg-gray-900">
  <footer class="flex justify-between items-center mb-2">
      <div class="flex items-center">
          <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
            {% if   reply.author.userprofile.image.url  %}
            <img class="mr-2 w-6 h-6 rounded-full"                     
                  src="{{ reply.author.userprofile.image.url }}"      
                  alt="{{ reply.author }}"><a class="text-black font-bold" href="/profile/{{reply.author.username}}">{{ reply.author }}</a></p>
                  {% else %}
                  <img class="mr-2 w-5 h-5 rounded-full"                     
                  src=" {% static '/images/demo.png' %}"      
                  alt="{{ reply.author }}"><a class="text-black font-bold"  href="/profile/{{reply.author.username}}">{{ reply.author }}</a></p>                       
                  {% endif %}
          <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-12"
                  title="comment_created"> {{reply.created_at}}</time></p>
      </div>
      <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"
          class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          type="button">
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
              </path>
          </svg>
          <span class="sr-only">Comment settings</span>
      </button>

      <div id="dropdownComment2"
          class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownMenuIconHorizontalButton">
              {% if request.user == reply.author %}
              <li>
                  <a href="/comment-edit/{{reply.id}}/{{post.id}}"
                      class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
              </li>
              {% endif %}

              {% if request.user == reply.author %}
              <li>
                  <a href="/comment-delete/{{reply.id}}/{{post.id}}"
                      class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
              </li>
              {% elif request.user == post.author %}
              <li>
                <a href="/comment-delete/{{reply.id}}/{{post.id}}"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
            </li>
            {% endif %}
              <li>
                  <a href="#"
                      class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
              </li>
          </ul>
      </div>
  </footer>
  {% if  reply.image %}
  <br>
  <img class="w-[450px] h-[350px]" src="{{reply.image.url }}"/>
  <br>
  {% endif %}
  <p class="text-black  dark:text-gray-400" style="word-wrap: break-word;"> {{reply.content}}</p>


    <div class="flex items-center mt-4 space-x-4">
   
      
          <div class="flex justify-between">
            <div class="">
              
       <form action="/cmntlike/{{reply.id}}/{{post.id}}" method="post" >  {% csrf_token %}
            {% if user.is_authenticated %}
              
              {% if request.user in reply.cmnt_likes.all %}
                 <div class="flex">
                    <button type="submit" class="text-blue-500" name="unlike">Unlike</button>
                    <span class="ml-1 text-gray-500 dark:text-gray-400  font-light">{{reply.total_likes}} </span>
                  </div>
              {% else %}
                <div class="flex">
                    <button class="text-gray-500 dark:text-gray-400 font-light"  type="submit" name="like">Like</button>      
                    <span class="ml-1 text-gray-500 dark:text-gray-400  font-light">{{reply.total_likes}} </span>
                 </div>
              {% endif %}
            
            </form>
            {% else %}
                <div class="flex">
                    <a class="text-gray-500 dark:text-gray-400 font-light"  href="/login/"><button type="submit" name="like">Like</button></a>
                    <span class="ml-1 text-gray-500 dark:text-gray-400  font-light">{{reply.total_likes}} </span>
                </div>
            {% endif %}
           
           
        </div>  
        <button class="ml-[210px] text-gray-500 dark:text-gray-400 font-light" onclick="toggle_visibility('reply_form_{{reply}}');"  id="reply">Reply </button>
      </div>


</div>

 
</article>
{% if user.is_authenticated %}
<form style="display:none;" id="reply_form_{{comment}}" class="mb-6" method="POST" action="/addcomment/" enctype="multipart/form-data">
 {% csrf_token %}
  <div   class= "ml-[100px] w-[250px] py-4 px-4 mb-3  bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
      <label for="reply" class="sr-only">Reply</label>
      
         
      {{ form.content|attr:"rows:2" |attr:"w:2" |attr:"minlength:1"  |attr:"class:px-0 w-full text-sm text-gray-900 border-0  focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" |attr:"placeholder:Reply..."}}
      <input type="hidden" name="postid" value="{{post.id}}">
      <input type="hidden" name="parentid" value="{{comment.id}}">
   </div>
   <div class="  h-[40px] ml-[100px]">
   {{form.image |attr:"class:w-[100px] " |attr:"placeholder:image"}} 
  <button type="submit"
      class="inline-flex items-center py-2 px-4 text-xs font-medium text-center text-white  bg-gray-900 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
      Reply
  </button>
</form>
</div >
{% endif %}
{% endfor %}